@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
 --cs-base-100: '#fef8d9'; /* background */
 --cs-primary: '#233429';
 --cs-secondary: '#5e9737';
 --cs-accent: '##a1c13a';
 --cs-neutral: '#b0ab8a';
}

